Will Fitzgerald
December 29, 2009

Bill Miller asked that I prepare responses to the requirements for a church's membership in the Indiana Conference, and these are those responses. There are five requirements, and I address them one by one. 

1. The congregation maintains a list of members who have covenanted together in a common life of obedience to Christ.

According to our constitution, Kalamazoo Mennonite Fellowship has two kinds of members: regular members and associate members. Pending our acceptance into district membership, we have discussed who wishes to be considered a regular member, and who an associate member. The mission of Kalamazoo Mennonite Fellowship is "to be a fellowship of faithful disciples of Jesus Christ, 'for no one can lay any foundation other than the one already laid, which is Jesus Christ.' (1 Corinthians 3:11).'" Currently, our membership list is kept informally, but we will make this more formal as we enter into district membership.  

This is our current membership list. Since we are not an official congregation yet, this is an unofficial list:

Regular Members
---------------
Borkholder, CarolSue
Dunham, Barb
Fitzgerald, Bess
Fitzgerald, Jane
Fitzgerald, Will
Byler, Jason
Byler, Janine
Ruth, Carolyn

Associate Members
-----------------
Fitzgerald, Harold
Village, Sarah
Village, Audra

In addition, the following people have been regularly attending:

Regular attenders
-----------------
Van Heest, Aaron
Van Heest, Angela
Village, Dave

2. The congregation confesses a faith consistent with the historical Mennonite confessions of faith.

Our constitution states this explicitly: "We accept the Confession of Faith in a Mennonite Perspective (1995) as our basic statement of belief and practice."

3. The congregation provides for spiritual and administrative leadership with adequate material support for leaders.

Kalamazoo Mennonite Fellowship has an unusual leadership structure currently; we do not have, nor do we currently plan to have, paid staff. We meet in the home of one of the families in our fellowship. This may change as God grants numerical growth to our fellowship; we may outgrow the home or feel a leading to call for paid staff. This is not something we would undertake without adequate material resources. Otherwise, we have very few expenses. Because we do not currently have 501(c)3 tax exempt status, we encourage our members to donate to causes through other means. We have taken special annual offerings for two years to support a shared ministry, and people have been generous.

Mentorship for Will Fitzgerald, who is expected to be credentialed for special ministry, is being arranged by Dan Miller and the district.

4. The congregation is willing to give and receive counsel in its relationship with nearby congregations and the conference.

This is one of the very reasons we have asked for district membership. We look forward to the give-and-take between congregations we can have as district members. We look forward to the accountability that happens between congregations. CarolSue Borkholder plans to move her credentials to Indiana-Michigan conference from Central District. 

5. The congregation supports the work of the conference with active participation, prayers, personnel and funds.

We are, of course, not currently members of the conference, so active participation is not yet called for--but will start on day 1! Should conference invite us into membership, we desire to support its work with participation, personnel, and funds. We will pray for the conference's congregations and leadership.

